:root {
    --fontJ: "theJamsil";
    --fontE: "eduAll";
    --fontO: "Orbitron";
    --fontG: "gmarket";
    --fontN: "nanumSquareNeo";

    --mainBg: #F6F8F9;
    --pointColor: #7D57FF;
    --pointBg: #ededff;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;
    --black600: #666;
    --black700: #797979;

    --white: #fff;
    --white100: #f9f9f9;
    --white200: #eeeeee;
    --white300: #dfdfdf;
    --white400: #cfcfcf;
    --white500: #c0c0c0;
    --white600: #b5b5b5;

    // 폰트 셋팅
    font-family: var(--fontJ);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    // svg 이미지
    --searchImg: url(../../public/svg/search.svg);
    --darkImg: url(../../public/svg/dark.svg);
    --navImg: url(../../public/svg/nav.svg);
    --logoutImg: url(../../public/svg/logout.svg);
    --instagramImg: url(../../public/svg/instagram.svg);
    --githubImg: url(../../public/svg/github.svg);
    --youtubeImg: url(../../public/svg/youtube.svg);

    // // face 이미지
    // --AngryFace: url(../../public/face/Angry.svg);
    // --AweFace: url(../../public/face/Awe.svg);
    // --BlankFace: url(../../public/face/Blank.svg);
    // --CalmFace: url(../../public/face/Calm.svg);
    // --CheekyFace: url(../../public/face/Cheeky.svg);
    // --ConcernedFace: url(../../public/face/Concerned.svg);
    // --ConcernedFearFace: url(../../public/face/ConcernedFear.svg);
    // --ContemptFace: url(../../public/face/Contempt.svg);
    // --CuteFace: url(../../public/face/Cute.svg);
    // --CyclopsFace: url(../../public/face/Cyclops.svg);
    // --DefaultFace: url(../../public/face/Default.svg);
    // --DrivenFace: url(../../public/face/Driven.svg);
    // --EatingHappyFace: url(../../public/face/EatingHappy.svg);
    // --ExplainingFace: url(../../public/face/Explaining.svg);
    // --EyesClosedFace: url(../../public/face/EyesClosed.svg);
    // --FearFace: url(../../public/face/Fear.svg);
    // --HecticFace: url(../../public/face/Hectic.svg);
    // --LovingGrin1Face: url(../../public/face/LovingGrin1.svg);
    // --LovingGrin2Face: url(../../public/face/LovingGrin2.svg);
    // --MonsterFace: url(../../public/face/Monster.svg);
    // --OldFace: url(../../public/face/Old.svg);
    // --RageFace: url(../../public/face/Rage.svg);
    // --SeriousFace: url(../../public/face/Serious.svg);
    // --SmileFace: url(../../public/face/Smile.svg);
    // --SmileBigFace: url(../../public/face/SmileBig.svg);
    // --SmileLOLFace: url(../../public/face/SmileLOL.svg);
    // --SmileTeethGapFace: url(../../public/face/SmileTeethGap.svg);
    // --SolemnFace: url(../../public/face/Solemn.svg);
    // --SuspiciousFace: url(../../public/face/Suspicious.svg);
    // --TiredFace: url(../../public/face/Tired.svg);
    // --VeryAngryFace: url(../../public/face/VeryAngry.svg);

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}